01-Crie um programa que conte de zero at√© cinco

In [1]:
x = 0
while (x<=5):
    print(x)
    x += 1

0
1
2
3
4
5

02-Crie uma lista com cinco nomes e mostre cada um e seus respectivos numeros

In [3]:
nome = []
nome=[
    "Ezequiel",
    "Elisa",
    "Samuel",
    "Carlos",
    "Marcos"]
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Ezequiel
1 Elisa
2 Samuel
3 Carlos
4 Marcos

03- Crie uma lista com cinco nomes em ordem alfabetico, mostrando os seus respectivos numeros:

In [4]:
nome = []
nome=[
    "Ezequiel",
    "Elisa",
    "Samuel",
    "Carlos",
    "Marcos"]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Carlos
1 Elisa
2 Ezequiel
3 Marcos
4 Samuel